@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Custom Fonts */
    @font-face {
      font-family: 'NEXA';
      src: url('../fonts/Nexa.ttf') format('ttf');
    }

    /* Custom Colors */
    --color-background-white: #ffffff;
    --color-background-black: #000000;
    --color-text-light: #f5f5f5;
    --color-text-dark: #0a0a0a;
    --color-text-secondary: #808080;
    --color-accent: #b48144;
    --color-shadow-light: rgba(142, 142, 142, 0.4);
    --color-shadow-dark: hsla(0, 0%, 100%, 0.4);
  }
}

.theme-light {
  --background: var(--color-background-white);
  --accent: var(--color-accent);
  --text: var(--color-text-dark);
  --text-secondary: var(--color-text-secondary);
  --shadow: var(--color-shadow-light);
}

.theme-dark {
  --background: var(--color-background-black);
  --accent: var(--color-accent);
  --text: var(--color-text-light);
  --text-secondary: var(--color-text-secondary);
  --shadow: var(--color-shadow-dark);
}
